{% extends 'base.html.twig' %}

{% block title %} New Car {% endblock %}

{% block body %}
<div class="container">
	<h1 class="mt-4">Add a new Car</h1>
	<a class="mt-4" href="{{ path('index') }}">back to the cars list</a>
	<div class="container" style=" width: 35rem">
		{{ include('admin/_form.html.twig') }}
	</div>
</div>
{% endblock %}
